.blogCard {
	width: 350px;
	height: 320px;
	border: 2px solid #707070;
	box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.39);
	margin: 10px 20px;
	padding: 30px;
}
.userPhoto img {
	width: 50px;
}

.postDate > p {
	line-height: 0.9;
}

.postDescription p {
	line-height: 2;
}

.blogCard:hover {
	background-image: url(../../../images/blogCardBG.png),
		linear-gradient(#19d3ae, #11d0e0);
	background-repeat: no-repeat;

	background-position: left center;
}

.arrowIcon {
	display: none;
}
.blogCard:hover .arrowIcon {
	display: block;
}
.blogCard:hover .userPhoto {
	display: none;
}
